In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'column_A':[1, np.nan, np.nan, 4, 5, 6, np.nan, 8], 'column_B':[1, 1, np.nan, 1, 2, 2, np.nan,np.nan],'column_c':[4, 1, np.nan, 3, 2, np.nan, 7, 2]})

In [2]:
df

   column_A  column_B  column_c
0       1.0       1.0       4.0
1       NaN       1.0       1.0
2       NaN       NaN       NaN
3       4.0       1.0       3.0
4       5.0       2.0       2.0
5       6.0       2.0       NaN
6       NaN       NaN       7.0
7       8.0       NaN       2.0

### 特定值取代nan，使用fillna

In [3]:
df1=df.copy()

In [4]:
df1['column_A'].fillna(value=0, inplace=True)  # 以0取代nan

In [5]:
df1

   column_A  column_B  column_c
0       1.0       1.0       4.0
1       0.0       1.0       1.0
2       0.0       NaN       NaN
3       4.0       1.0       3.0
4       5.0       2.0       2.0
5       6.0       2.0       NaN
6       0.0       NaN       7.0
7       8.0       NaN       2.0

In [6]:
df2=df.copy()

In [7]:
df2['column_A'].fillna(value=df['column_A'].mean(), inplace=True)  # 以平均值取代nan

In [8]:
df2

   column_A  column_B  column_c
0       1.0       1.0       4.0
1       4.8       1.0       1.0
2       4.8       NaN       NaN
3       4.0       1.0       3.0
4       5.0       2.0       2.0
5       6.0       2.0       NaN
6       4.8       NaN       7.0
7       8.0       NaN       2.0

### 時序值取代nan，使用fillna

In [9]:
df3=df.copy()

In [10]:
df3['column_A'].fillna(method='ffill', inplace=True)  # 往前取代

In [11]:
df3

   column_A  column_B  column_c
0       1.0       1.0       4.0
1       1.0       1.0       1.0
2       1.0       NaN       NaN
3       4.0       1.0       3.0
4       5.0       2.0       2.0
5       6.0       2.0       NaN
6       6.0       NaN       7.0
7       8.0       NaN       2.0

In [12]:
df4=df.copy()

In [13]:
df4['column_A'].fillna(method='bfill', inplace=True)  # 往後取代

In [14]:
df4

   column_A  column_B  column_c
0       1.0       1.0       4.0
1       4.0       1.0       1.0
2       4.0       NaN       NaN
3       4.0       1.0       3.0
4       5.0       2.0       2.0
5       6.0       2.0       NaN
6       8.0       NaN       7.0
7       8.0       NaN       2.0

### 去除nan值，使用dropna

In [15]:
df5=df.copy()

In [16]:
df5.dropna()

   column_A  column_B  column_c
0       1.0       1.0       4.0
3       4.0       1.0       3.0
4       5.0       2.0       2.0

In [17]:
df6=df.copy()

In [18]:
df6.dropna(how='all')  # 去除所有nan值

   column_A  column_B  column_c
0       1.0       1.0       4.0
1       NaN       1.0       1.0
3       4.0       1.0       3.0
4       5.0       2.0       2.0
5       6.0       2.0       NaN
6       NaN       NaN       7.0
7       8.0       NaN       2.0

In [19]:
df7=df.copy()

In [20]:
df7.dropna(thresh=1)  # 保留1個不是nan以上的行，一行中有一個有數值就保留

   column_A  column_B  column_c
0       1.0       1.0       4.0
1       NaN       1.0       1.0
3       4.0       1.0       3.0
4       5.0       2.0       2.0
5       6.0       2.0       NaN
6       NaN       NaN       7.0
7       8.0       NaN       2.0

In [21]:
df8=df.copy()

In [23]:
df8.dropna(thresh=2)  # 保留2個不是nan以上的行，一行中有2個有數值就保留

   column_A  column_B  column_c
0       1.0       1.0       4.0
1       NaN       1.0       1.0
3       4.0       1.0       3.0
4       5.0       2.0       2.0
5       6.0       2.0       NaN
7       8.0       NaN       2.0