In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'column_A':[1, np.nan, np.nan, 4, 5, 6, np.nan, 8], 'column_B':[1, 1, np.nan, 1, 2, 2, np.nan,np.nan],'column_c':[4, 1, np.nan, 3, 2, np.nan, 7, 2]})

In [2]:
df

   column_A  column_B  column_c
0       1.0       1.0       4.0
1       NaN       1.0       1.0
2       NaN       NaN       NaN
3       4.0       1.0       3.0
4       5.0       2.0       2.0
5       6.0       2.0       NaN
6       NaN       NaN       7.0
7       8.0       NaN       2.0

In [3]:
df.iloc[:3]

   column_A  column_B  column_c
0       1.0       1.0       4.0
1       NaN       1.0       1.0
2       NaN       NaN       NaN

### 確認缺失值數量

In [4]:
df.isnull()

   column_A  column_B  column_c
0     False     False     False
1      True     False     False
2      True      True      True
3     False     False     False
4     False     False     False
5     False     False      True
6      True      True     False
7     False      True     False

In [5]:
df.isnull().any()

column_A    True
column_B    True
column_c    True
dtype: bool

In [6]:
df.isnull().any().any()

True

In [7]:
df.isnull().sum()

column_A    3
column_B    3
column_c    2
dtype: int64

In [8]:
df.isnull().sum().sum()

8

### 特定值取代nan，使用fillna

In [9]:
df1=df.copy()

In [10]:
df1['column_A'].fillna(value=0, inplace=True)  # 以0取代nan

In [11]:
df1

   column_A  column_B  column_c
0       1.0       1.0       4.0
1       0.0       1.0       1.0
2       0.0       NaN       NaN
3       4.0       1.0       3.0
4       5.0       2.0       2.0
5       6.0       2.0       NaN
6       0.0       NaN       7.0
7       8.0       NaN       2.0

In [12]:
df2=df.copy()

In [13]:
df2['column_A'].fillna(value=df['column_A'].mean(), inplace=True)  # 以平均值取代nan

In [14]:
df2

   column_A  column_B  column_c
0       1.0       1.0       4.0
1       4.8       1.0       1.0
2       4.8       NaN       NaN
3       4.0       1.0       3.0
4       5.0       2.0       2.0
5       6.0       2.0       NaN
6       4.8       NaN       7.0
7       8.0       NaN       2.0

### 時序值取代nan，使用fillna

In [15]:
df3=df.copy()

In [16]:
df3['column_A'].fillna(method='ffill', inplace=True)  # 往前取代

In [17]:
df3

   column_A  column_B  column_c
0       1.0       1.0       4.0
1       1.0       1.0       1.0
2       1.0       NaN       NaN
3       4.0       1.0       3.0
4       5.0       2.0       2.0
5       6.0       2.0       NaN
6       6.0       NaN       7.0
7       8.0       NaN       2.0

In [18]:
df4=df.copy()

In [19]:
df4['column_A'].fillna(method='bfill', inplace=True)  # 往後取代

In [20]:
df4

   column_A  column_B  column_c
0       1.0       1.0       4.0
1       4.0       1.0       1.0
2       4.0       NaN       NaN
3       4.0       1.0       3.0
4       5.0       2.0       2.0
5       6.0       2.0       NaN
6       8.0       NaN       7.0
7       8.0       NaN       2.0

### 去除nan值，使用dropna

In [21]:
df5=df.copy()

In [22]:
df5.dropna()

   column_A  column_B  column_c
0       1.0       1.0       4.0
3       4.0       1.0       3.0
4       5.0       2.0       2.0

In [23]:
df6=df.copy()

In [24]:
df6.dropna(how='all')  # 去除所有nan值

   column_A  column_B  column_c
0       1.0       1.0       4.0
1       NaN       1.0       1.0
3       4.0       1.0       3.0
4       5.0       2.0       2.0
5       6.0       2.0       NaN
6       NaN       NaN       7.0
7       8.0       NaN       2.0

In [25]:
df7=df.copy()

In [26]:
df7.dropna(thresh=1)  # 保留1個不是nan以上的行，一行中有一個有數值就保留

   column_A  column_B  column_c
0       1.0       1.0       4.0
1       NaN       1.0       1.0
3       4.0       1.0       3.0
4       5.0       2.0       2.0
5       6.0       2.0       NaN
6       NaN       NaN       7.0
7       8.0       NaN       2.0

In [27]:
df8=df.copy()

In [28]:
df8.dropna(thresh=2)  # 保留2個不是nan以上的行，一行中有2個有數值就保留

   column_A  column_B  column_c
0       1.0       1.0       4.0
1       NaN       1.0       1.0
3       4.0       1.0       3.0
4       5.0       2.0       2.0
5       6.0       2.0       NaN
7       8.0       NaN       2.0

In [29]:
df9=df.copy()

In [30]:
df9.dropna(axis='columns')  #去除含有nan值得欄位

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7]

In [31]:
df10=df.copy()

In [32]:
df10.dropna(subset=['column_A']) #在A欄位裡，去除含有nan值得欄位

   column_A  column_B  column_c
0       1.0       1.0       4.0
3       4.0       1.0       3.0
4       5.0       2.0       2.0
5       6.0       2.0       NaN
7       8.0       NaN       2.0

In [33]:
df11=df.copy()

In [34]:
df11.drop('column_A',axis=1)  #  若A欄位有缺失值則刪除

   column_B  column_c
0       1.0       4.0
1       1.0       1.0
2       NaN       NaN
3       1.0       3.0
4       2.0       2.0
5       2.0       NaN
6       NaN       7.0
7       NaN       2.0

In [35]:
df12=df.copy()

In [36]:
df12.dropna(axis=0)  #  删除包含缺失值的列

   column_A  column_B  column_c
0       1.0       1.0       4.0
3       4.0       1.0       3.0
4       5.0       2.0       2.0

### 文字資料轉數字資料

In [37]:
df_text=df.copy()

In [38]:
df_text['column_D']=['aa', 'bb', 'aa', 'cc', 'aa', 'cc', 'dd', 'ee']

In [39]:
df_text

   column_A  column_B  column_c column_D
0       1.0       1.0       4.0       aa
1       NaN       1.0       1.0       bb
2       NaN       NaN       NaN       aa
3       4.0       1.0       3.0       cc
4       5.0       2.0       2.0       aa
5       6.0       2.0       NaN       cc
6       NaN       NaN       7.0       dd
7       8.0       NaN       2.0       ee

In [40]:
df_text.isnull().any()

column_A     True
column_B     True
column_c     True
column_D    False
dtype: bool

In [41]:
df_D=df_text[["column_D"]]  # 取出欄位D
df_D

  column_D
0       aa
1       bb
2       aa
3       cc
4       aa
5       cc
6       dd
7       ee

In [42]:
# 將欄位D的文字轉數字

from sklearn.preprocessing import OrdinalEncoder

ordinal_encoder = OrdinalEncoder()
df_D_encoded = ordinal_encoder.fit_transform(df_D)
df_D_encoded

array([[0.],
       [1.],
       [0.],
       [2.],
       [0.],
       [2.],
       [3.],
       [4.]])

In [43]:
ordinal_encoder.categories_  # 使用.categories_ 取得分類清單

[array(['aa', 'bb', 'cc', 'dd', 'ee'], dtype=object)]

In [44]:
#one hot encoder輸出為SciPy稀疏矩陣，每一列都只有一個1，其他為0。而稀疏矩陣只會儲存非0元素。避免浪費記憶體儲存許多0

from sklearn.preprocessing import OneHotEncoder

df_D_1hot_encoder = OneHotEncoder()
df_D_1hot = df_D_1hot_encoder.fit_transform(df_D)
df_D_1hot

<8x5 sparse matrix of type '<class 'numpy.float64'>'
	with 8 stored elements in Compressed Sparse Row format>

In [45]:
df_D_1hot.toarray()  # 使用toarray 將稀疏矩陣轉為numpy矩陣

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [46]:
df_text['column_D']=df_D_1hot

In [47]:
df_text

,column_A,column_B,column_c,column_D
0,1.0,1.0,4.0,"(0, 0)\t1.0\n (1, 1)\t1.0\n (2, 0)\t1.0\n ..."
1,NaN,1.0,1.0,"(0, 0)\t1.0\n (1, 1)\t1.0\n (2, 0)\t1.0\n ..."
2,NaN,NaN,NaN,"(0, 0)\t1.0\n (1, 1)\t1.0\n (2, 0)\t1.0\n ..."
3,4.0,1.0,3.0,"(0, 0)\t1.0\n (1, 1)\t1.0\n (2, 0)\t1.0\n ..."
4,5.0,2.0,2.0,"(0, 0)\t1.0\n (1, 1)\t1.0\n (2, 0)\t1.0\n ..."
5,6.0,2.0,NaN,"(0, 0)\t1.0\n (1, 1)\t1.0\n (2, 0)\t1.0\n ..."
6,NaN,NaN,7.0,"(0, 0)\t1.0\n (1, 1)\t1.0\n (2, 0)\t1.0\n ..."
7,8.0,NaN,2.0,"(0, 0)\t1.0\n (1, 1)\t1.0\n (2, 0)\t1.0\n ..."